.fc {
    flex-grow: 1;
    --fc-neutral-bg-color: rgb(229, 231, 235);
    --fc-page-bg-color: var(--fc-neutral-bg-color);

    table {
        border: none !important;
    }

    th,
    td {
        border: 1px solid rgb(229, 231, 235);
        border-collapse: collapse;
    }

    .fc-view-harness {
        display: flex;

        .fc-dayGridMonth-view {
            flex-grow: 1;
            display: flex;

            &>table {
                flex-grow: 1;
            }
        }
    }

    .fc-scroller-harness,
    .fc-scroller,
    .fc-scrollgrid-sync-table,
    .fc-daygrid-body {
        height: 100%;
    }

    .fc-scrollgrid-section-body table {
        height: 100%;
    }

    .fc-scrollgrid-section-body>td {
        border: none;
    }

    .fc-scrollgrid-section-header>th {
        border: none;

        th {
            border-bottom: none;
        }
    }

    .fc-col-header {
        width: 100%;
    }

    .fc-day-today {
        background: unset !important;

        .fc-daygrid-day-top {
            color: #ff1744;
        }
    }

    .fc-scrollgrid-section {
        height: unset;
    }

    .fc-timegrid-slot,
    .fc-timegrid-axis {
        height: 64px;
    }

    .fc-col-header-cell-cushion {
        line-height: 30px;
        font-weight: initial;
    }

    .fc-timegrid-divider {
        display: none;
    }

    .fc-timegrid-axis-frame {
        justify-content: center;
        align-items: start;
        height: 48px;
        line-height: 48px;
    }

    .fc-scrollgrid-sync-table col,
    .fc-timegrid-slots col,
    .fc-timegrid-cols col {
        width: 120px !important;
    }

    .fc-timegrid-slot-label-cushion,
    .fc-timegrid-axis-frame .fc-timegrid-axis-cushion {
        width: 100%;
        text-align: center;
    }

    .fc-timeGridDay-view>.fc-scrollgrid>thead {
        .fc-col-header .fc-timegrid-axis {
            display: none;
        }

        .fc-col-header-cell {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .fc-event {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        padding: 8px;
        margin: 4px 0;
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }

    .fc-bg-event {
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .fc-event-time,
    .fc-event-title {
        font-size: 14px;
        font-weight: normal;
    }

    .fc-event-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fc-daygrid-dot-event {
        box-shadow: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    .fc {
        --fc-neutral-bg-color: rgb(37, 40, 42);

        th,
        td {
            border: 1px solid rgb(37, 40, 42);
        }

        .fc-event {
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        }
    }
}