.titleBarContainer {
    height: env(titlebar-area-height);
    width: 100%;
}

.titleBar {
    display: flex;
    user-select: none;
    height: 100%;
    width: env(titlebar-area-width);
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}